@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}



main {
   padding: 20px;
}
.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #00c8eb;
   text-align: center;
   color: white;
}

             
 * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
                
/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: center;
margin: auto;
}
                
                
/* Caption text */
.text {
color: #0c0c0c;
font-size: 15px;
padding: 8px 12px;
position: absolute;
width: 100%;
text-align: left;
}
                
                
/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
                
.active {
background-color: #21d8f8;
}
                
                
                
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
                
#content {
   float: center;
   width: 100%;
}
pre {font-family: 'Quicksand',  sans-serif ;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      display: inline;
      white-space: pre;
      margin: 2em 0;
      
   }
      
header {
   display: inline;
}
nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}
nav {
   background-color: #00a2c6;
   padding: 5px;
   position: sticky;
   top: 0;
}
nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color: rgba(38, 182, 248, 0.2);
   color: black;
}

.featured-image {
   width: 100%;
   max-height: 390px;
   object-fit: fill;
   object-position: center;
}

nav a:hover {
   font-weight: bold;
}
h2, h3 {
   color: black;
}
.profile header {
   text-align: center;
}
.profile img {
   width: 150px;
}
aside {
   float: right;
   width: 100%;
  padding: 10px;
   font-size: 12px;

}
* {
   box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}
main {
   padding: 20px;
   overflow: auto;
}
footer {
   padding: 20px;
   color: white;
   background-color: #00a2c6;
   text-align: center;
   font-weight: bold;
}
